body {
    font-family: 'Noto Sans TC', sans-serif;
    padding-top: 110px;
}

@media (max-width: 768px) {
    body {
        padding-top: 19.7vw;
    }
}

@media (max-width: 768px) {
    .rwd-show {
        display: show;
    }
}

@media (min-width: 768px) {
    .rwd-show {
        display: none;
    }
}

@media (min-width: 768px) {

    #section3,
    #section4,
    #section5,
    #section6,
    #section7,
    #section8 {
        scroll-margin-top: 120px;
    }
}

@media (max-width: 768px) {

    #section3,
    #section4,
    #section5,
    #section6,
    #section7,
    #section8 {
        scroll-margin-top: 93px;
    }
}


.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1002;
    height: 110px;
}

.navbar #navbarNav a {
    color: #202020;
    text-align: center;
    font-family: Noto Sans TC;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 23.8px;
}

#nav-img-2 {
    width: 150px;
}

#nav-img-1 {
    width: 288px;
    margin-left: 31px;
    margin-right: 21px;
}

a {
    text-decoration: none;
}

@media (min-width: 768px) {
    #nav-img-2 {
        height: 41px;
        width: 150px;
    }

    #nav-img-1 {
        height: 41px;
        width: 288px;
        margin-left: 31px;
        margin-right: 21px;
    }
}

#navbarNav {
    margin-right: 58px;
}

@media (max-width: 768px) {
    .navbar-brand {
        max-width: calc(100% - 80px);
        /* 預留空間給漢堡菜單 */
        white-space: nowrap;
        /* 避免換行 */
        overflow: hidden;
        /* 超出的部分隱藏 */
        text-overflow: ellipsis;
        /* 超出的部分顯示為 ... */
    }

    .navbar-toggler {
        width: 8.46vw;
        padding: 0;
        margin-left: 5vw;
    }

    .navbar-toggler-icon {
        width: 7.46vw;
        margin: auto;
    }

    .navbar-brand a {
        display: inline;
    }

    .navbar-brand img {
        max-width: 30%;
    }

    #navbarNavList {
        display: none;
    }

    #nav-img-1 {
        width: 43vw;
        margin-left: 6.4vw;
        margin-right: 3.2vw;
    }

    #nav-img-2 {
        width: 24.64vw;
        margin-left: 4vw;
    }

    .navbar {
        height: 19.7vw;
        display: block;
        padding: 5vw 0 0vw 0;
    }
}

#fullscreen-menu {
    background: #008787;
    margin-top: 59px;
    color: white;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1001;
}

.dt-group {
    margin-top: 70px;
}

#fullscreen-menu .divider {
    margin: 17px 0 17px 58px;
    height: 1px;
    background-color: rgba(255, 255, 255, 0.39);
    width: 69vw;

}

#fullscreen-menu .text {
    margin: 10px 0 10px 58px;
    color: #fff;
}

#fullscreen-menu .text a {
    text-decoration: none;
    color: #FFF;
    font-family: Noto Sans TC;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}


.hidden {
    display: none;
}

.menu-item {
    font-size: 24px;
    margin: 0;
    color: #FFF;
    font-family: Noto Sans TC;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

@keyframes glow {
    0% {
        box-shadow: 0 0 10px #3EE9CB;
    }

    50% {
        box-shadow: 0 0 20px #3EE9CB, 0 0 30px #3EE9CB;
    }

    100% {
        box-shadow: 0 0 10px #3EE9CB;
    }
}

/* 自定義輪播指示器樣式 */
#myCarousel .carousel-indicators li {
    width: 12px;
    height: 12px;
    background-color: #fff;
    border-radius: 50%;
}

#myCarousel .carousel-indicators .active {
    background-color: #aaa;
}

.carousel-caption {
    left: 5%;
    right: auto;
    bottom: 40%;
    transform: translateY(50%);
}

.carousel-caption h1 {
    font-size: 3rem;
}

.carousel-caption h3 {
    font-size: 1.5rem;
    margin-top: 1rem;
}

/* General styles for the section with id="section2" */
#section2 {
    position: relative;
    width: 100%;
    overflow: hidden;
}

/* Image styles within id="section2" */
#section2 img {
    width: 100%;
    height: auto;
}

/* Caption styles within id="section2" */
#section2 .section-caption {
    position: absolute;
    left: 5%;
    bottom: 40%;
    transform: translateY(50%);
    color: white;
    /* Change text color to white */
}

/* Big text styles within id="section2" */
#section2 .section-caption h1 {
    font-size: 3rem;
}

/* Small text styles within id="section2" */
#section2 .section-caption h3 {
    font-size: 1.5rem;
    margin-top: 1rem;
}



/* Section 3 specific styles */
.section3_outer {
    background: #F0F4F7;
    padding-top: 67px;
    padding-bottom: 136px;
}



#section3.container {
    padding: 0 5% 0 5%;
}

#section4.container {
    padding: 0 5% 0 5%;
}

@media (max-width: 768px) {
    .section3_outer {
        background-color: #F0F4F7;
        padding-top: 36px;
        padding-bottom: 57px;
    }

    #section4.container,
    #section3.container {
        padding: 0 0 0 0px;
    }

    #section3 .item-container {
        margin-left: 45px;
    }
}

.section3-title {
    color: #000;
    font-family: Noto Sans TC;
    font-size: 34px;
    font-style: normal;
    font-weight: 700;
    line-height: 56px;
    letter-spacing: 0.17px;
    margin-top: 0;
    margin-bottom: 36px;
}

#section3 .col-4 {
    margin-bottom: 1.5rem;
}

#section3 .card {
    position: relative;
    border: none;
    /* box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.3); */
    filter: drop-shadow(2px 4px 10px #C3C3C3);
    border-radius: 7.709px;
}

#section3 .card img {
    width: 100%;
    height: auto;
    border-radius: 10px 10px 0 0;
}


#section3 .card-body {
    text-align: left;
    padding: 1rem 26px;
}

#section3 .card-body small {
    color: #202020;
    font-family: Noto Sans TC;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

@media (max-width: 768px) {
    #section3 .card-body small {
        color: #202020;
        font-family: Noto Sans TC;
        font-size: 12px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
    }

    #section3 .card img {
        border-radius: 7.709px 7.709px 0 0;
    }

}

#section3 .card-body h5 {
    font-size: 1.2rem;
    margin-top: 0.5rem;
}



#section3 .card-body p {
    font-size: 1rem;
    margin-top: 0.5rem;
}

#section3 .s3-btn {
    display: block;
    width: 100%;
    text-align: center;
    border-radius: 7.517px;
    background: #008787;
    border-color: #008787;
    color: white;
    padding: 0.5rem;
    margin: 23px 0 12px 0;
    text-decoration: none;
}

@media (max-width: 768px) {
    #section3 .card-body h5 {
        color: #202020;
        font-family: Noto Sans TC;
        font-size: 20px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        margin: 0px 0 20px 0;
    }

    #section3 .s3-btn {
        margin: 5px 0;
        padding: 7px;
        border-radius: 5.795px;
    }
}

#section8 .item-container,
#section4 .item-container,
#section3 .item-container {
    display: flex;
    overflow: auto;
    /* 使項目可以左右滑動 */
    scroll-snap-type: x mandatory;
    /* 啟用水平滾動捕捉 */

}

#section7 .item,
#section4 .item,
#section3 .item {
    flex: 0 0 calc(33.333% - 2rem);
    /* 在大螢幕上，項目寬度為 33.333% 減去邊距 */
    scroll-snap-align: start;
    margin: 1rem;
    border-radius: 10px;
}

@media (max-width: 768px) {

    #section7 .item,
    #section4 .item,
    #section3 .item {
        flex: 0 0 calc(33.333% - 2rem);
        /* 在大螢幕上，項目寬度為 33.333% 減去邊距 */
        scroll-snap-align: start;
        margin: 1rem;
        border-radius: 7.709px;
    }

    #section4 .card-title {
        color: #202020;
        font-family: Noto Sans TC;
        font-size: 20px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
    }

    #section4 .card-subtitle {
        color: #484848;
        font-family: Noto Sans TC;
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: 18.501px;
        /* 154.178% */
    }
}

#section4 .item {
    background-color: #FFF;
}

@media (max-width: 768px) {
    #section8 .item {
        flex: 0 0 calc(50% - 2rem);
        /* 在大螢幕上，項目寬度為 33.333% 減去邊距 */
        scroll-snap-align: start;
        margin: 21px;
    }
}


/* RWD */
@media (max-width: 768px) {


    #section8 .item,
    #section4 .item,
    #section3 .item {
        /* flex: 0 0 100%;
        scroll-snap-align: start; */
        margin: 0 9px 0 9px;
        flex: 0 0 calc(100% - 44px);
    }
}

/* Section 4 Specific Styles */
.section4_outer {
    padding-top: 67px;
    padding-bottom: 136px;
}

@media (max-width: 768px) {
    .section4_outer {
        background: #fff;
        padding-top: 36px;
        padding-bottom: 57px;
    }
}

#section4 .hover-card {
    position: relative;
    border: none;
    /* box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.3); */
    border-radius: 10px;
    filter: drop-shadow(2px 4px 10px #C3C3C3);
}

#section4 .card-img-wrapper {
    position: relative;
}

#section4 .img-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.3s ease;
    /* box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.3); */
    border-radius: 10px 10px 0 0;
}

.card-img-top {
    border-radius: 10px 10px 0 0;
}

#section4 .img-overlay p {
    margin: 0;
    text-align: left;
    padding: 24px;
    color: #FFF;
    text-align: left;
    font-family: Helvetica;
    font-size: 18.9px;
    font-style: normal;
    font-weight: 700;
    line-height: 31.5px;
    /* 166.667% */
    letter-spacing: 0.525px;
}

@media (max-width: 1400px) {
    #section4 .img-overlay p {
        color: #FFF;
        text-align: left;
        font-family: Helvetica;
        font-size: 12px;
        font-style: normal;
        font-weight: 700;
        line-height: 18px;
        /* 166.667% */
    }
}

@media (max-width: 768px) {
    #section4 .img-overlay p {
        color: #FFF;
        text-align: left;
        font-family: Helvetica;
        font-size: 15px;
        font-style: normal;
        font-weight: 700;
        line-height: 25px;
        /* 166.667% */
    }
}


@media (min-width: 768px) {
    #section4 .card-title {
        color: #202020;
        font-family: Noto Sans TC;
        font-size: 28px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
    }

    #section4 .sub-title {
        color: #484848;
        font-family: Noto Sans TC;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px;
        /* 150% */
    }


}

#section4 .hover-card:hover .img-overlay {
    opacity: 1;
}

#section4 .hover-card-body {
    transition: background-color 0.3s ease, color 0.3s ease;
    border-radius: 0 0 10px 10px;
}

@media (max-width: 768px) {
    #section4 .card-body {
        height: 101px;
    }
}

#section4 .hover-card:hover .hover-card-body {
    color: white;
    border-radius: 0 0 10px 10px;
    background: #008787;
}

#section4 .hover-card:hover .hover-card-body .card-title {
    color: white;
}

@media (max-width: 768px) {
    #section4 .item-container {
        margin-left: 33px;
        padding-top: 28px;
    }
}


.section5_outer {
    background: #F0F4F7;
    padding-top: 75px;
    padding-bottom: 136px;
}

#section5 .card-title {
    color: #202020;
    font-family: Noto Sans TC;
    font-size: 28px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}


#section5 .span_on h3,
#section5 .span_on ul {
    color: #FFF;
}

#section5 .block span {
    color: #007C7C;
    font-family: Noto Sans TC;
    font-size: 22px;
    font-style: normal;
    font-weight: 500;
    line-height: 34px;
    letter-spacing: 1.1px;
}

@media (max-width: 768px) {
    #section5 .block span {
        color: #007C7C;
        font-family: Noto Sans TC;
        font-size: 15px;
        font-style: normal;
        font-weight: 500;
        line-height: 34px;
        letter-spacing: 0.75px;
    }
}

#section5 ul {
    color: #484848;
    font-family: Noto Sans TC;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}

@media (max-width: 768px) {
    #section5 ul {
        font-size: 12px;
        line-height: 18.501px;
        padding-left: 14px;
    }
}


@media (max-width: 768px) {
    .section5_outer {
        background: #F0F4F7;
        padding-top: 36px;
        padding-bottom: 57px;
        padding-left: 45px;
        padding-right: 45px;
    }
}

.divider {
    height: 1px;
    background-color: #D3D3D3;
    margin: 20px 0 20px 0;
    width: 99%;
    stroke-width: 1px;
    stroke: #D3D3D3;
}

@media (max-width: 768px) {
    .divider {
        margin: 10px 0 10px 0;
        height: 0.538px;
    }
}

.divider-long {
    height: 1px;
    margin: 10px 0;
    width: 99%;
    stroke-width: 1px;
    stroke: #D3D3D3;
}

#section5 .full-item-row,
#section5 .full-item-span {
    border-radius: 1rem;
    background-color: #fff;
    filter: drop-shadow(2px 4px 10px #C3C3C3);
}

@media (max-width: 768px) {

    #section5 .full-item-row,
    #section5 .full-item-span {
        border-radius: 5.739px;
    }
}

#section5 .full-item-span {
    text-align: center;
    padding-bottom: 21px;
}

@media (min-width: 768px) {

    #section5 .full-item-span {
        text-align: center;
        padding-bottom: 31px;
    }
}


#section5 .half-items-row .card {

    border-radius: 5.379px;
    background-color: #fff;
    filter: drop-shadow(2px 4px 10px #C3C3C3);
}

@media (min-width: 768px) {
    #section5 .half-items-row {
        margin-top: 36px;
    }
}

@media (max-width: 768px) {
    #section5 .half-items-row .card {
        margin-top: 19px;
        margin-bottom: 0px;
    }

    #section5 .full-item-row,
    #section5 .full-item-span #section5 .half-items-row .card {
        border-radius: 5.379px;
    }
}

#section5 .col-6 {
    position: relative;
    padding: 0;
}

#section5 .right-div {
    line-height: 1.3;
    padding: 28px 45px 28px 45px;
}

#section5 .right-div.span_on {
    background: #008787;
    color: #FFF;
}

#section5 .col-6 .full-item-row img {
    border-radius: 1rem 0 0 1rem;
}

#section5 .full-item-row .left-div {
    padding-left: 0;
    padding-right: 0;
}

#section5 .img-fluid1 {
    width: 100%;
    height: 100%;
    border-radius: 1rem 1rem 0 0;
}

@media (max-width: 768px) {
    #section5 .img-fluid1 {
        border-radius: 5.379px 5.379px 0 0;
    }
}

#section5 .card-body {
    padding: 28px 45px 28px 45px;
    width: 100%;
    height: 258px;
    border-radius: 10px 10px 0 0;
}

@media (max-width: 768px) {

    #section5 .right-div,
    #section5 .card-body {
        height: 244px;
        padding: 15px 24px 15px 24px;
        border-radius: 0px 0px 5.379px 5.379px;
    }

    #section5 .right-div {
        height: 290px;
    }
}

/* 隱藏滾動條但保留滾動功能 */
#section6 {
    -ms-overflow-style: none;
    /* IE 和 Edge */
    scrollbar-width: none;
    /* Firefox */
}

#section6::-webkit-scrollbar {
    display: none;
    /* Chrome, Safari 和 Opera */
}

/* RWD */
@media (min-width: 768px) {
    #section5 .full-item-row {
        height: 350px;
    }

    #section5 .full-item-row .left-div {
        overflow: hidden;
        height: 100%;
    }

    #section5 .full-item-row .right-div {
        height: 100%;
        overflow: auto;
        border-radius: 0 10px 10px 0;
    }

    #section5 .img-fluid1 {
        width: 100%;
        height: 100%;
        border-radius: 10px 0 0 10px;
    }

    #section5 .img-fluid {
        width: 136px;
        height: 136px;
        margin-left: 88px;
        margin-right: 26px;
        margin-bottom: 18px;
        margin-top: 18px;
    }
}

#section5 #fullItemSpan h4 {
    margin-top: 28px;
    margin-bottom: 28px;
    color: #0D262A;
    font-family: Noto Sans TC;
    font-size: 17px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

@media (min-width: 768px) {
    #section5 #fullItemSpan h4 {
        font-size: 24px;
    }
}

@media (max-width: 768px) {
    #section5 #fullItemSpan h4 {
        margin-top: 2rem;
        margin-bottom: 2rem;
    }

    #section5 .img-fluid {
        width: 74.5px;
        height: 74.5px;
        margin-left: 0px;
        margin-right: 11px;
        margin-bottom: 9px;
        margin-top: 9px;
    }
}

#section5 h3 {
    color: #202020;
    font-family: Noto Sans TC;
    font-size: 28px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

@media (min-width: 768px) {
    #section5 h3 {
        margin-bottom: 31px;
    }
}

@media (max-width: 768px) {

    #section5 h3,
    #section5 .card-title {
        font-size: 20px;
    }

    #section5 h3,
    #section4 h3 {
        margin-bottom: 21px;
        color: #000;
        font-family: Noto Sans TC;
        font-size: 20px;
        font-style: normal;
        font-weight: 700;
        line-height: 28px;
        /* 140% */
        letter-spacing: 0.1px;
    }

    #section5 .right-div h3 {
        font-weight: 500;
    }
}

#section5 .show-more-btn {
    background: none;
    border: none;
    font-size: 24px;
    width: 99%;
    margin-top: 20px;
    color: #fff;
    text-decoration: none;
    border-radius: 7.517px;
    background: #008787;
}

@media (max-width: 768px) {
    #section5 .show-more-btn {
        margin-top: 5px;
    }
}

#section5 .show-more-btn.span_on {
    background: none;
    border: none;
    font-size: 24px;
    width: 90%;
    margin-bottom: 20px;
    margin-top: 30px;
    margin: 5%;
    color: #008787;
    text-decoration: none;
    border-radius: 7.517px;
    background: #FFFFFF;
}

@media (min-width: 768px) {

    #section5 .show-more-btn,
    #section5 .show-more-btn.span_on {
        margin: 1% 5% 0 5%;
        width: 90%
    }
}


#section5 .show-more-btn svg {
    float: right;
    margin-right: 10px;
    margin-top: 15px;
}

@media (max-width: 768px) {

    #section5 .show-more-btn.span_on,
    #section5 .show-more-btn {
        font-family: Noto Sans TC;
        font-size: 15px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        letter-spacing: 0.375px;
        border-radius: 4px;
    }

    #section5 .show-more-btn svg {
        float: right;
        margin-right: 10px;
        margin-top: 7px;
        width: 9px;
        height: 5.5px;
    }
}


#section5 .full-item-span .img-fluid1 {
    width: 100%;
    height: 80%;
}

#section5 .half-item-col {
    padding: 0 10px;
}

@media (max-width: 768px) {
    #section5 .half-item-col {
        padding: 0px;
    }
}

#section5 span {
    color: #007C7C;
    font-family: Noto Sans TC;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: 34px;
    letter-spacing: 0.75px;
}


#section6-rwd {
    display: none;
}

#section6-rwd .dot.picked {
    background-color: #3EE9CB;
    transition: 1s;

}

#section6 .dot.picked {
    background-color: #3EE9CB;
    transition: 1s;

}

@media (max-width: 768px) {
    #section6 {
        display: none;
    }

    #section6-rwd {
        display: block;
        position: relative;
        height: 250vw;
        background-image: url('./img/s6-5.jpg');
        background-size: 100% auto;
    }
}


#section6 {
    position: relative;
    height: 69.4vw;
    background-image: url('./img/s6-1-1.jpg');
    transition: background-image 2s ease-in-out;
    background-size: contain;
}

.section6_bg {
    background-image: url('./img/s6-1-0.jpg');
    background-size: contain;
}

.infoTitle {
    margin-left: 2.3rem;
}

.product-map .dot {
    position: absolute;
    transition: 1s;
    border-radius: 50%;
    cursor: pointer;
    width: 3.5vw;
    height: 3.5vw;
    flex-shrink: 0;
    border-radius: 100%;
    border: 2px solid #3EE9CB;
    background: rgba(255, 255, 255, 0.00);
    box-shadow: 0px 0px 0px 7.95975px rgba(54, 187, 255, 0.23), 0px 0px 0px 2.22484px rgba(54, 187, 255, 0.46);
}



#section6 .info-panel {
    padding-top: 30px;
    margin-left: 2.3rem;
    color: white;
    width: 45%;
    position: absolute;
    left: -200%;
    transition: left 0.5s;
    overflow-y: auto;
    height: 54vw;
}

#section6-rwd .info-panel {
    margin-top: 90%;
    padding-top: 0;
    margin-left: 2.3rem;
    color: white;
    width: 90%;
    position: absolute;
    left: -100%;
    transition: left 0.5s;
    overflow-y: auto;
    height: 40%;
}

.infoTexts {
    color: white;
    margin-left: 2.3rem;
    overflow-x: auto;
    line-height: 1.5;
    background: #0D262A;
    display: flex;
    width: 80%;
    max-height: 306px;
    padding: 33px 45px 33px 30px;
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
    flex-shrink: 0;
    margin-top: 28px;
    color: #77E6CC;
    font-family: Noto Sans TC;
    font-size: 19px;
    font-style: normal;
    font-weight: 400;
    line-height: 34px;
    letter-spacing: 0.19px;
    border-radius: 10px;
    border: 3px solid rgba(119, 230, 204, 0.52);
}

.remark a {
    margin-left: 2.3rem;
    /* color: white; */
    text-decoration: none;
    /* line-height: 1.5; */
    color: #FFF171;
    font-family: Noto Sans TC;
    font-size: 19px;
    font-style: normal;
    font-weight: 700;
    line-height: 34px;
    /* 178.947% */
    letter-spacing: 0.19px;
}

.remark {
    margin-top: 10px;

}

.infoBlocks {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 18px;
    margin-top: 23px;
}

.infoBlocks span {
    color: white;
    list-style-type: none;
    margin-left: 2.3rem;
    display: flex;
    padding: 11px 15px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 10px;
    border: 3px solid rgba(119, 230, 204, 0.52);
    background: #008787;
}

@media (min-width: 768px) {
    .infoTitle1 {
        margin-bottom: 0;
        margin-left: 0;
        padding-top: 5vw;
        color: white;
        font-size: 2.36vw;
        color: #FFF;
        font-family: Noto Sans TC;
        font-style: normal;
        font-weight: 700;
        line-height: 3.9vw;
        letter-spacing: 0.17px;
        margin-left: 8.75vw;
    }

    .infoTitle {
        margin-bottom: 0;
        margin-left: 0;
        padding-top: 2.5vw;
        color: white;
        font-size: 1.944vw;
    }

    #section6 .info-panel {
        padding-top: 0;
        margin-left: 8.75vw;
        height: 57vw
    }

    .infoBlocks span,
    .infoTexts,
    .remark a {
        margin-left: 0;
    }

    .product-map .dot {
        border: 0.27777vw solid #3EE9CB;
        width: 2.083vw;
        height: 2.083vw;
    }

    .infoBlocks span {
        color: white;
        list-style-type: none;
        margin-left: 0;
        display: flex;
        padding: 0.82vw 1.042vw;
        justify-content: center;
        align-items: center;
        gap: 10px;
        font-size: 1.5277vw;
        border-radius: 10px;
        border: 3px solid rgba(119, 230, 204, 0.52);
        background: #008787;
    }

    .infoTexts {
        margin-left: 0;
        overflow-x: auto;
        line-height: 1.5;
        background: #0D262A;
        display: flex;
        width: 78.5%;
        max-height: 14.067vw;
        padding: 2.29vw 3.125vw 2.29vw 2.083vw;
        flex-direction: column;
        align-items: flex-start;
        gap: 1.0415vw;
        flex-shrink: 0;
        margin-top: 1.944vw;
        color: #77E6CC;
        font-family: Noto Sans TC;
        font-size: 1.319vw;
        font-style: normal;
        font-weight: 400;
        line-height: 2.361vw;
        letter-spacing: 0.19px;
        border-radius: 10px;
        border: 3px solid rgba(119, 230, 204, 0.52);
    }

    .infoBlocks {
        display: inline-flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 1.25vw;
        margin-top: 1.597vw;
        font-size: 0.97vw;
    }

    .remark a {
        text-decoration: none;
        color: #FFF171;
        font-family: Noto Sans TC;
        font-size: 1.319vw;
        font-style: normal;
        font-weight: 700;
        line-height: 2.361vw;
        letter-spacing: 0.19px;
    }
}

@media (max-width: 768px) {
    h1.infoTitle1 {
        color: #FFF;
        font-family: Noto Sans TC;
        font-size: 20px;
        font-style: normal;
        font-weight: 700;
        line-height: 28px;
        letter-spacing: 0.1px;
        padding-top: 36px;
        margin: auto;
        width: 50vw;

    }

    .infoTitle,
    .infoBlocks span,
    .infoTexts {
        margin-left: 0rem;
    }

    .infoTitle {
        color: #FFF;
        font-family: Noto Sans TC;
        font-size: 20px;
        font-style: normal;
        font-weight: 500;
        line-height: 32px;
        margin-bottom: 0;
    }

    .infoBlocks span {
        color: #FFF;
        font-family: Noto Sans TC;
        font-size: 15px;
        font-style: normal;
        font-weight: 500;
        line-height: 34px;
        padding-top: 0px;
        padding-bottom: 0px;
        border-radius: 6px;

    }

    .infoBlocks {
        margin-top: 15px;
        gap: 12px;
    }

    .infoTexts {
        border-radius: 3px;
        margin-top: 18px;
        width: 80.8vw;
        color: #77E6CC;
        font-family: Noto Sans TC;
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: 20px;
        padding: 25px 25px 10px 25px;
    }

    .infoTexts ul {
        padding-left: 5px;
    }

    .remark a {
        margin-left: 0;
        color: #FFF171;
        font-family: Noto Sans TC;
        font-size: 12px;
        font-style: normal;
        font-weight: 700;
        line-height: 18.501px;
    }

    #section6-rwd .info-panel {
        height: 140vw;
    }
}




#section7 {
    background-size: cover;
    color: white;
    background-image: url('./img/s7-0.png');
}

#section7 .overlay {
    /* position: absolute; */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(to right bottom, rgba(38, 170, 162, 0.7), rgba(9, 149, 141, 0.7));
    padding-top: 70px;
    padding-bottom: 70px;
}

#section7 h1.main-title {
    text-align: center;
    color: #FFF;
    font-family: Noto Sans TC;
    font-size: 34px;
    font-style: normal;
    font-weight: 700;
    line-height: 56px;
    letter-spacing: 0.17px;
    margin: auto;
    margin-bottom: 71px;
}

#section7 .item-container {
    display: flex;
    overflow: auto;
    scroll-snap-type: x mandatory;
}

#section7 .item {
    text-align: center;
    margin-bottom: 6rem;
    font-size: 1.2rem;
    flex: 0 0 calc(33.333% - 2rem);
    scroll-snap-align: start;
    margin: 1rem
}

#section7 img {
    width: 122px;
}

@media (min-width: 768px) {
    #section7 .p-div {
        width: 290px;
        margin: auto;
        color: #FFF;
        height: 102px;
        margin-top: 30.4px;
        margin-bottom: 39px;
        color: #FFF;
        text-align: center;
        font-family: Noto Sans TC;
        font-size: 22px;
        font-style: normal;
        font-weight: 500;
        line-height: 34px;
    }


}

#section7 .s-p-div {
    line-height: 34px;
    font-size: 16px;
    font-weight: 500;
    margin-top: 6px;
}

/* RWD */
@media (max-width: 768px) {
    #section7 .p-div {
        width: 290px;
        margin: auto;
        color: #FFF;
        text-align: center;
        font-family: Noto Sans TC;
        font-size: 20px;
        font-style: normal;
        font-weight: 500;
        line-height: 32px;
        height: 96px;
        margin-top: 30.4px;
        margin-bottom: 39px;
    }

    #section7 .item-container {
        display: block;
    }

    #section7 .item {

        flex: 0 0 calc(100% - 2rem);
    }

    #section7 h1.main-title {
        margin-bottom: 52px;
        color: #FFF;
        text-align: center;
        font-family: Noto Sans TC;
        font-size: 24px;
        font-style: normal;
        font-weight: 700;
        line-height: 48.5px;
        letter-spacing: 0.12px;
        width: 223px;
        height: 97px;
    }

    #section7 .overlay {
        padding-top: 43px;
        padding-bottom: 0px;
    }
}

.section8_outer {
    background: #F0F4F7;
    padding-top: 68px;
    padding-bottom: 79px;
}

#section8 {
    text-align: center;
}

@media (max-width: 768px) {
    .section8_outer {
        padding-top: 49px;
    }
}

#section8 .main-title {
    color: #000;
    font-family: Noto Sans TC;
    font-size: 34px;
    font-style: normal;
    font-weight: 700;
    line-height: 56px;
    letter-spacing: 0.17px;
    margin-top: 0;
    margin-bottom: 36px;
}

#section8 .content-container {
    display: flex;
    justify-content: space-around;
}

#section8 .item {
    width: 1000px;
    padding: 40px 65px;
    border-radius: 10px;
    background-color: #fff;
}

#section8 .small-title {
    color: black;
    font-size: 1.8rem;
    margin-bottom: 2rem;
    margin-top: 1rem;
    color: #202020;
    font-family: Noto Sans TC;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

#section8 .link-button {
    display: block;
    width: 100%;
    text-align: center;
    border-radius: 7.517px;
    background: #008787;
    color: white;
    padding: 16px;
    margin: 30px 0;
    text-decoration: none;
    line-height: 2;
    font-size: 1.5rem;
    color: #FFF;
    font-family: Noto Sans TC;
    font-size: 28px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.7px;
}

@media (max-width: 768px) {
    #section8 .link-button {
        font-size: 20px;
        padding: 11px 27px;
        border-radius: 3.752px;
        margin-bottom: 25px;
        margin-top: 0;
    }

    #section8 .item {
        padding: 0 26px 0 26px;
        width: 286px;
        height: 314px;
        flex: 0 0 calc(100% - 46px);
        margin-right: 18px;
        margin-left: 0px;
        filter: none;
        border-radius: 4.991px;
    }

    #section8 .small-title {
        color: black;
        font-size: 24px;
        margin-bottom: 33px;
        margin-top: 25px;
    }

    .section8_outer {
        background: #F0F4F7;
        padding-bottom: 69px;
    }

    #section8 .item-container {
        margin-left: 45px;
    }

    #section8 .main-title {
        color: #000;
        font-family: Noto Sans TC;
        font-size: 20px;
        font-style: normal;
        font-weight: 700;
        line-height: 28px;
        letter-spacing: 0.1px;
    }
}

@media (min-width: 768px) {
    #section8 .item-container {
        padding: 0 119px;
    }

    #section8 .item {
        margin: 0 21px;
    }
}



#footer {
    background-color: #fff;
    color: rgb(6, 6, 6);
}

.footer-container {
    display: flex;
    justify-content: space-between;
}


.footer-logos img {
    margin-right: 1rem;
}

.footer-copyright {
    text-align: right;
    color: #2F3C3F;
    font-family: Noto Sans JP;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 20.4px;
    margin-top: 20px;
}

@media (max-width:768px) {
    .footer-copyright {
        text-align: center;
        margin-top: 0;
        margin-left: 0px;
        margin-bottom: 25px;
    }

}

.footer-logos img {
    width: auto;
    height: auto;
}

#footer .divider-long {
    margin-top: 90px;
    margin-bottom: 47px;
}

@media (min-width: 768px) {
    #footer {
        height: 222px;
        padding-top: 67px;
    }

    .footer-logos {
        display: flex;
        margin-left: 77px;
    }

    /* 假設在大於 768px 的螢幕寬度下 */
    .footer-logos img {
        max-width: 100%;
        /* 確保圖像不超出其容器 */
        width: 50%;
        /* 圖像寬度設為 50% */
        width: 280.488px;
        height: 41.138px;
        flex-shrink: 0;
        margin-top: 30px;

    }

    #footer_logo2 {
        width: 158px;
    }

    #footer .divider {
        width: 90%;
        margin-left: 5%;
        margin-right: 5%;

    }

    .footer-copyright {
        margin-right: 5%;
        margin-top: 37px;
    }
}

@media (max-width: 768px) {

    #footer_logo1 {
        height: 42px;
        width: 257px;
        margin-left: 47px;
        margin-bottom: 24px;
    }

    #footer_logo2 {
        height: 38px;
        width: 145px;
        margin-left: 108px;
        margin-bottom: 59px;

    }

    #footer .divider {
        margin: 90px 31px 47px 31px;
        width: auto;
        height: 5px;
        background-color: #F6F6F6;
        ;
    }
}
.container_show {
    border: 1px solid red;
    border-radius: 30px;
    box-shadow: 3px 3px 3px 3px red;
    height: 300px;
    overflow: auto;
}

.container_p {
    position: relative;
    height: 500px;
    width: 500px;
}


.dot {
    position: absolute;
    width: 1vw;
    height: 1vw;
    flex-shrink: 0;
    animation: glow 2s ease-in-out infinite;
    border-radius: 15px;
    border: 4px solid #3EE9CB;
    background: rgba(255, 255, 255, 0.00);
    box-shadow: 0px 0px 0px 7.95975px rgba(54, 187, 255, 0.23), 0px 0px 0px 2.22484px rgba(54, 187, 255, 0.46);
}

#dot1 {
    top: 50px;
    left: 50px;
}

#dot2 {
    top: 100px;
    left: 300px;
}

#dot3 {
    top: 300px;
    left: 200px;
}

.show_pic {
    background-image: url("./img/img1.jpeg");
    height: 500px;
}

#text_a_div {
    font-size: 40px;
    color: rgb(66, 185, 66);
}

.hide {
    opacity: 0;
    transform: translateX(-100px);
}

.show {
    opacity: 1;
    transform: translateX(0);
    transition: opacity 2s ease-in-out, transform 2s ease-in-out;
}

.main {
    background-color: aliceblue;
}

.area-1-set {
    padding-top: 200px;
    padding-bottom: 200px;
    background-color: rgb(183, 228, 228);
}

.area-1-set h1,
.area-3-set h1,
.area-4-set h1,
.area-6-set h1 {
    margin-bottom: 30px;
}

.area-2-set {
    padding-top: 40px;
    padding-bottom: 100px;
}

.card_css_1 {
    margin: auto;
}

.area-2-set h1 {
    margin-bottom: 60px;
    margin-top: 120px;
}

.area-3-set {
    padding-top: 40px;
    padding-bottom: 100px;
    background-color: azure;
}

.space-1 {
    height: 50px;
}

.area-4-set {
    padding-top: 40px;
    padding-bottom: 100px;
    background-color: rgb(179, 240, 202);
}

.area-5-set {
    padding-top: 40px;
    padding-bottom: 100px;
    background-color: rgb(223, 179, 240);
}

.area-6-set {
    padding-top: 40px;
    padding-bottom: 100px;
    background-color: rgb(240, 179, 208);
}

.area-7-set {
    padding-top: 40px;
    padding-bottom: 100px;
    background-color: rgb(238, 203, 150);
}

.card {
    margin-bottom: 10px;
}
@media (max-width: 768px) {
    .section .common-section-title {
        color: #000;
        font-family: Noto Sans TC;
        font-size: 20px;
        font-style: normal;
        font-weight: 700;
        line-height: 28px;
        /* 140% */
        letter-spacing: 0.1px;
        margin-bottom: 21px;
    }
}

@media (min-width: 768px) {
    .rwd-br {
        display: none;
    }

    #section4 .common-section-title,
    #section5 h3,
    #section3 h3 {
        color: #000;
        font-family: Noto Sans TC;
        font-size: 34px;
        font-style: normal;
        font-weight: 700;
        line-height: 56px;
        letter-spacing: 0.17px;
    }

    #section5 .right-div h3 {
        color: #202020;
        font-family: Noto Sans TC;
        font-size: 28px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
    }

    #section5 .right-div.span_on h3 {
        color: #fff;
        font-family: Noto Sans TC;
        font-size: 28px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
    }
}